<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:image" content="{{ site.url }}{% if page.ogimage %}{{ page.ogimage }}{% else %}/assets/default-og-image.png{% endif %}">
	{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">{% endif %}

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	{% comment %}
		<!-- zakomentovány nepřesné / nedoladěné věci -->
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	{% endcomment %}

	<!-- inline css - vyvolání načítání fontu ihned výměnou za 4kB css v každém requestu navíc -->
	<style>
		{% include base.css %}
		{% include layout.css %}
		{% comment }{% include syntax-highlighting.css %}{% endcomment %}
	</style>
	<script src="/assets/main.js" async defer></script>

	<script async src="https://files.korh.cz/pistats/js.js"></script>
</head>
