<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<!-- <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}"> -->

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> -->

	<!-- inline css - vyvolání načítání fontu ihned výměnou za 4kB css v každém requestu navíc -->
	<style>
		{% include base.css %}
		{% include layout.css %}
		{% comment }{% include syntax-highlighting.css %}{% endcomment %}
	</style>
	<script src="/assets/main.js" async defer></script>

	<!-- Piwik -->
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		_paq.push(['setTrackerUrl', '//pwk.korh.cz/testphp.php']);
		_paq.push(['setSiteId', 1]);
	</script>
	<script src="//pwk.korh.cz/testjs.php" async defer></script>
	<noscript><p><img src="//pwk.korh.cz/testphp.php?idsite=1" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->
</head>
