<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:image" content="{{ site.url }}{% if page.ogimage %}{{ page.ogimage }}{% else %}/assets/default-og-image.png{% endif %}">
	{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">{% endif %}

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	{% comment %}
		<!-- zakomentovány nepřesné / nedoladěné věci -->
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	{% endcomment %}

	<!-- inline style for maximum font loading speedup -->
	<style>
		@font-face {
			font-family: 'Linux Libertine';
			src: url('/assets/LinLibertine_Rah.ttf');
		}
		@font-face {
			font-family: 'Linux Libertine';
			src: url('/assets/LinLibertine_RZah.ttf');
			font-weight: bold;
		}
		@font-face {
			font-family: 'Linux Libertine';
			src: url('/assets/LinLibertine_RIah.ttf');
			font-style: italic;
		}
		@font-face {
			font-family: 'dejavu';
			src: url('/assets/dejavu');
		}

		body {
			font-family: Linux Libertine, serif;
		}
	</style>
	<link rel="stylesheet" href="/assets/main.css">
	{% comment %} TODO syntax highlighting? Možná nějakou detekcí IFem z obsahu stránky, je-li potřeba? {% endcomment %}

	<script>
		var Hyphenopoly = {
			require: {
				"cs": "FORCEHYPHENOPOLY"
			},
			setup: {
				selectors: {
					'article p': {}
				}
			}
		};
	</script>
	{% comment %} Vlna by se dala upravit na asynchronní, ale díky synchronnímu loaderu níž pravděpodobně nic nestojí, a tudíž je to jedno. Spuští se ručně na konci <body>, toto by se při asynchronicitě taky muselo řešit. {% endcomment %}
	<script src="/assets/vlna.js"></script>
	{% comment %} Tento loader musí být synchronní, jinak problikává. {% endcomment %}
	<script src="/assets/hyphenopoly/Hyphenopoly_Loader.js"></script>
	{% unless site.url contains "localhost" %}
	<script src="https://files.korh.cz/webstats/js.js" async defer></script>
	{% endunless %}
</head>
