<!DOCTYPE html>
<html lang="cs">

	{% include head.html %}

	<body>

		{% include header.html %}

		{{ content }}

		{% include footer.html %}

		<script>
			// add non-breaking spaces to hyphenated areas
			// call here (and not add to window.load) to do asap to avoid flickering
			vlna('article')

			// odkazy pryč do nových panelů
			var extLinks = document.querySelectorAll('a[href^=http]:not([target]), a[href^=mailto]')
			extLinks.forEach(e => e.setAttribute('target', '_blank'))

			// TODO zvětšování obrázků (fce imgZoom?)

			// scrollování a footnotes
			document.querySelectorAll('a.footnote, a.reversefootnote').forEach(e => {
				e.onclick = () => {
					var id = e.getAttribute('href').replace('#', '')
					document.getElementById(id).scrollIntoView({ behavior: 'smooth' })
					return false
				}
			})

			// popisky obrázků
			document.querySelectorAll('p > img[alt]:not([alt=""]').forEach(e => {
				var d = document.createElement('div')
				d.className = 'imgcaption'
				d.innerHTML = e.getAttribute('alt')
				e.parentElement.append(d)
			})
		</script>

	</body>

</html>
